/* mobile first design */


/*****Homepage Filter*****/

.spacing{
  position: sticky;
  top: 100px;
  padding: 5px 15px 5px 15px;
  margin-top: 50px;
}

.padding{
  padding: 5px 5px;
}

.flex-container{
  display: flex;
}

.formatting{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin-top: 50px;
  top: 70px;

}
/*****User Cards*****/

div.card-img-overlay{
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons{
  width: 50px;
  height: 50px;
}

.icon-friend{
  height: 1.5rem;
  width: 1.5rem;
  
}

.rounded-circle{
  background: #46474C;
  border-color: white;
}

.information{
  background: linear-gradient(0deg, rgba(83, 84, 90, 0.75) 0%, rgba(83, 84, 90,.75) 68%, rgba(83, 84, 90,0) 100%);
  padding-top: 20px;
}

.information.coach{
  background: linear-gradient(0deg, rgba(163, 75, 112, 0.75) 0%, rgba(163, 75, 112, 0.75) 68%, rgba(163, 75, 112, 0) 100%);
}

.information.learner{
  background: linear-gradient(0deg, rgba(48,115,115,0.75) 0%, rgba(48,115,115,0.75) 68%, rgba(48,115,115,0) 100%);
}

.information.teammate{
  background: linear-gradient(0deg, rgba(83, 84, 90, 0.75) 0%, rgba(83, 84, 90,.75) 68%, rgba(83, 84, 90,0) 100%);
}

/*****User Cards Modal*****/
.usercardmodal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalcontent {
  width: 20rem;
  background-color: #46474D;
  overflow: hidden;
}

.extracontent {
  padding: 2rem;
}

.extracontent ul {
  list-style: none;
}

.strength li:before {
  content: "+";
  margin-right: 4px;
}

.weakness li:before {
  content: "-";
  margin-right: 4px;
}

.modalwrap {
  background: linear-gradient(90deg, rgba(163, 75, 112, 1), rgba(38, 193, 186, 1));
  padding: 3px; 
}

/*****Selected Connections*****/
.button-connections {
  margin-top: 15px !important;
  border-radius: 0px !important;
  width: 50%;
  background: transparent !important;
  border: none !important;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none!important;
}
.design{
  outline: none !important;
  border-bottom: 2px solid #26C1BA !important;
}

/*****Requested Connections*****/
.request-connection {
  display: flex;
  padding: 1rem;
  background-color: #46474C !important;
  border: 2px solid #26C1BA !important;
}

.request-connection .title {
  font-size: small !important;
  text-align: center;
}

.request-connection .text {
  font-size: x-small !important;
  text-align: center;
}

.request-connection Button {
  font-size: x-small;
  height: min-content;
}

.request-connection .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-connection img {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.accept {
  background-color: #46474C !important;
  border: 2px solid #26C1BA !important;
}

.decline {
  background-color: #46474C !important;
  border: 2px solid #F487B6 !important;
}

@media (max-width: 576px){
  .modalwrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(7%, -50%);
    
  }
}

@media (min-width: 576px){

/*****Homepage Filter*****/
  .spacing{
    margin-top: 0px;
  }

  .formatting{
    display: flex;
    flex-direction: row;
  }

/*****User Cards*****/


  
}

@media (min-width: 992px){ /*desktops */

}

@media (min-width: 1200px) { /*large desktops */

}