.navbar{
  background: #38393d !important;
  padding: 25px;
  margin: 0 0 0 0;
}

.navlink {
  color: white !important;
  text-decoration: none;
}

.dropdown-toggle::after {
  display: none !important; 
}

.logoutbutton {
  background-color: #26C1BA !important;
  border-color: #26C1BA !important;
  margin-bottom: 2rem !important;
}

.inside-dropdown {
  text-align: center;
}

.dropdown-menu.show {
  background-color: #46474C;
  border: 2px solid #F487B6;
  padding-bottom: 1rem;
  vertical-align: middle;
}

.navcontainer {
  margin: 1rem;
}

.active {
  border-bottom: 2px solid #26C1BA;
}

.home {
  margin-left: 2rem;
}

.profilebutton {
  margin-right: 2rem;
}