.navbar{
  background: #38393d !important;
  padding: 25px;
  margin: 0 0 0 0;

}

.navlink {
  color: white !important;
  text-decoration: none;
}

.navcontainer {

  margin: 1rem;
}

.active {
  border-bottom: 2px solid #26C1BA;
}

.home {
  margin-left: 2rem;
}

.profilebutton {
  margin-right: 2rem;
}