
/*mobile first design*/
  /* LOG IN */
.flex-container {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px 0px;
  height: 100vh;
  width: 100vw;

}

div.poster-container{
  display: none;
}


div.login-container {
  flex:1;
  background-color: #46474C;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.role-container{
  display:flex;
  height: 100vh;
  width: 100vw;
  background-image: url('../full_poster.png');
  background-size: cover;
}

input{
  border-radius: 10px;
  width: 300px;
  padding: 6px;
  margin-bottom: 12px;
}

input, label {
  display: block;
}

label {
  font-size: 1.4rem;
}

.form-margin{
  margin-top: 20px;
}

.button {
  width: 300px;
  border: 0;
  padding: 6px 8px;
  margin-bottom: 20px;
  border-radius: 10px;
  
}

.button-primary {
  background: #26C1BA;
  color: #fff;
}
 

@media (min-width: 576px){
  .flex-container {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 0px;
    max-height: 100vh;
    width: 100vw;
  }

  div.poster-container{
    display: block;
    flex:1;
  }
  
  div.poster-container img{
    max-width:100%;
    position: relative;
    top: 30%;
    transform: translateY(-30%);
  }

  

}

@media (min-width: 992px){ /*desktops */

}

@media (min-width: 1200px) { /*large desktops */

}